@page "/displaysurvey"
@using BlazorSimpleSurvey.Data

<h3>Display Survey</h3>

<h4>Items: (@items.Count)</h4>

@foreach (var item in items)
{
    <div>
        <span><b>@item.ItemLabel</b></span>
        <br />
        @if (item.ItemType == "TextBox")
        {
            <RadzenTextBox @bind-Value="@item.ItemValue" MaxLength="4000" />
        }
        @if (item.ItemType == "TextArea")
        {
            <RadzenTextArea @bind-Value="@item.ItemValue" MaxLength="4000" />
        }
        @if (item.ItemType == "Date")
        {
            <RadzenDatePicker DateFormat="d" TValue="DateTime?" @bind-Value="@item.ItemDateValue" ShowTime="false" />
        }
        @if (item.ItemType == "DateTime")
        {
            <RadzenDatePicker TValue="DateTime?" @bind-Value="@item.ItemDateValue" ShowTime="true" />
        }
        @if (item.ItemType == "Dropdown")
        {
            <RadzenDropDown AllowClear="true" TValue="string"
                            Data="@multipleValues"
                            @bind-Value="@item.ItemValue" />
        }
    </div>
    <br />    
}
@if (@items.Count > 0)
{
<RadzenButton Click="SubmitForm" ButtonStyle="ButtonStyle.Primary" Text="Submit" />
}
<br /><br /><br /><hr />
<h4>Add Form Item</h4>
<div>
    <span><b>Item Label</b></span>
    <br />
    <RadzenTextBox @bind-Value="@newItemLabel" />
</div>
<div>
    <span><b>Item Type</b></span>
    <br />
    <RadzenDropDown AllowClear="true" TValue="string"
                                            Data="@multipleValues"
                                            @bind-Value="newItemType" />
</div>
<br />
<RadzenButton Click="AddItem" ButtonStyle="ButtonStyle.Success" Text="Add Item" />

@code {
    private IList<SurveyItem> items = new List<SurveyItem>();
    private string newItemLabel;
    private string newItemType = "TextBox";

    IEnumerable<string> multipleValues =
        new string[] { "TextBox", "TextArea", "Date", "DateTime", "Dropdown" };

    private void AddItem()
    {
        if (!string.IsNullOrWhiteSpace(newItemLabel))
        {
            var NewFormItem =
                new SurveyItem
                {
                    ItemLabel = newItemLabel,
                    ItemType = newItemType,
                    Required = true
                };

            items.Add(NewFormItem);
            newItemLabel = string.Empty;
        }
    }

    private void SubmitForm()
    {
        foreach (var item in items)
        {
            var CurrentName = item.ItemLabel;
            var CurrentValue = item.ItemValue;
            var CurrentDateValue = item.ItemDateValue;
        }
    }
}
