@page "/displaysurvey"
@using BlazorSimpleSurvey.Data

<h3>Display Survey</h3>

<h4>Items: (@items.Count)</h4>

@foreach (var item in items)
{
    <div>
        <span>@item.ItemLabel :</span>
        @if (item.ItemType == "TextBox")
        {
        <RadzenTextBox Value="@item.ItemValue" />
        }
        @if (item.ItemType == "TextArea")
        {
        <RadzenTextArea Value="@item.ItemValue" />
        }
        @if (item.ItemType == "Date")
        {
        <RadzenDatePicker TValue="DateTime?" @bind-Value="@item.ItemDateValue" ShowTime="true" />
        }
        @if (item.ItemType == "Dropdown")
        {
        <RadzenDropDown AllowClear="true" TValue="string"
                        Data="@multipleValues"
                        Style="margin-bottom: 20px"
                        @bind-Value="@item.ItemValue" />
        }
    </div>
    <br />
}
<br />
<h4>Add Form Item</h4>
<span>
    Label: <RadzenTextBox @bind-Value="@newItemLabel" />
</span>
<br />
<span>
    Item Type: <RadzenDropDown AllowClear="true" TValue="string"
                               Data="@multipleValues"
                               Style="margin-bottom: 20px"
                               @bind-Value="newItemType" />
</span>
<br />
<button @onclick="AddItem">Add Item</button>

@code {
    private IList<SurveyItem> items = new List<SurveyItem>();
    private string newItemLabel;
    private string newItemType = "TextBox";
    IEnumerable<string> multipleValues = new string[] { "TextBox", "TextArea", "Date", "Dropdown" };

    private void AddItem()
    {
        if (!string.IsNullOrWhiteSpace(newItemLabel))
        {
            var NewFormItem =
                new SurveyItem
                {
                    ItemLabel = newItemLabel,
                    ItemType = newItemType,
                    Required = true
                };

            items.Add(NewFormItem);
            newItemLabel = string.Empty;
        }
    }
}
